{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block content %}
    {% image self.banner_image fill-5000x4000 as img %}

    <div class="jumbotron" style="background-image: url('{{img.url}}'); background-size: cover; background-position: center center; ">
        <h1 class="display-4">{{self.banner_title}}</h1>
        <div class="lead">{{self.banner_subtitle|richtext}}</div>
        <ul>
            {% for item in self.collection.all %}
                <li>
                    {{item.collection.name}}
                    <br>
                    {% if item.collection.description %}
                        {{item.collection.description}}
                    {% endif %}
                    <br>
                    {% if item.collection.specification_URL %}
                        <a href="{{item.collection.specification_URL}}">(website)</a>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
      </div>
{% endblock %}