{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block content %}
    <div style="margin-left: 20px;">{{self.subtitle}}</div>
    
    <div class="lead" style="margin-left: 20px;"><br>
        {{self.description|richtext}}
    </div><br>
    <div style="margin-left: 20px;">Specification URL:</div>
    <div class="lead" style="margin-left: 22px;">
        {{self.specification_URL|richtext}}
    </div><br>
    <div style="margin-left: 20px;">Fix Issues:</div>
    <div class="accordion" id="accordionExample">
        {% for item in self.accordion_items %}
            {{item}}
        {% endfor %}
    </div>
{% endblock %}